main {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
    background-color: #330055;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.83'%3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
}

#input-hold {
    width: 100%;
    height: 50vh;
    display: grid;
    place-items: center;
}

#input-hold .wrapper,
#log-hold .wrapper,
#pop-up-hold .wrapper {
    max-width: 600px;
}

#input-hold .wrapper .btn-dark {
    position: absolute;
    right: 50px;
    top: 35px;
    border: 2px solid white;
    transform: rotate(90deg);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding: 0;
    box-shadow: 0 0 10px aliceblue;
}

#input-hold .wrapper>input {
    margin: 10px 0;
}

#log-hold {
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
}
#pop-up-hold{
    position: absolute; 
    background: rgba(0, 0, 0, 0.5); 
    top: 0; 
    z-index: 1; 
    width: 100%;
    display: grid;
    place-items: center; 
    height: 100vh; 
}
.capitalize{
    text-transform: capitalize;
}
#circle-wrap{
    padding: 20px;
    max-width: fit-content;
    margin: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 10px pink;
}
#result-circle{
    background: white;
    box-shadow: inset 4px 5px 40px rgb(153, 255, 0);
    margin: auto;
    padding: 10px;
    min-width: 100px;
    min-height: 100px;
    border: 1px solid white;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
#result-circle > span{
    font-weight: bold;
}
.nav-link{
    color: black !important;
}
.nav-link:first-child{
    background: linear-gradient(to top, pink, lightpink);
    font-weight: bold;
    font-size: large;
    color: blueviolet !important;
}